[Desktop Entry]
Encoding=UTF-8
Name=Link to Python – Beyond the Basics | Pluralsight
Type=Link
URL=https://app.pluralsight.com/library/courses/python-beyond-basics/table-of-contents
Icon=text-html
