[Desktop Entry]
Encoding=UTF-8
Name=Link to Visualize Python, Java, JavaScript, C, C++, Ruby code execution
Type=Link
URL=http://localhost:8003/visualize.html#mode=edit
Icon=text-html
